# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.tox/
.nox/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.bak
*.orig

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
